@import "~bootstrap/scss/bootstrap.scss";

.lightFixture{
  margin-left: 80px;
  width: 200px;
  height: 600px;
  background-color: #333333;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 5px 10px rgba(51, 51, 51, 0.4);
}

.red{
    background-color: red;
    height: 150px;
    width: 150px;
    border-radius:100%;
    box-shadow: 0 0 30px 30px rgba(252, 6, 47, 0.349);
}
.yellow{
    background-color: rgb(219, 188, 12);
    height: 150px;
    width: 150px;
    border-radius:100%;
     box-shadow: 0 0 30px 30px rgba(255, 251, 192, 0.377);
}
.green{
    background-color:chartreuse;
    height: 150px;
    width: 150px;
    border-radius:100%;
     box-shadow: 0 0 30px 30px rgba(217, 255, 192, 0.274);
}


.inactive {
  background-color: #555555;
   height: 150px;
    width: 150px;
    border-radius:100%;
}
